<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The 5 Whys of QEWD</h3>
                </div>
            </div>
	    <div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/StockSnap_ChainSpokes.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">INTEGRATION FRAMEWORK
                       </h4>
                    <p>Integration Framework.. Ready, Willing & Able</p>
		    <p class="text-muted"> The world is a complex place. The web is a complex place.  Applications, APIs, Databases- how to join them all up?
		     <p class="text-muted"> QewdJS has been built to do many things. </p> 
		     <p class="text-muted"> #1 : Integration Framework. </p>   
			<p class="text-muted">    
			If you need to join this UI framework to that Database, QewdJS may be just the web integration framework you need. 
			While there are a wide range of integration technologies out there, few if any can balance a quick start with a scalable solution, none ideal for the web.<br/>
			QewdJS offers an integration framework that can integrate the UI components you need with the APIs you want and the Database you use..<br/>
                       </p>
			<p class="text-muted">   
			QewdJS:  Integration framework.. perfect for your web integration challenge… ready, willing and able.
			</p>       
		   </div>
			
                </div>
            </div>
		
		<div class="row">
	        .
		</div>
		
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
                     <img class="img-square img-responsive" src="img/StockSnap_BikeBars.jpg" alt="">
		                     
		   </div>
		   <div class="col-lg-4 text-center">
                    <h4 class="service-heading">QUICK & EASY WEB DEVELOPMENT</h4>
                    <p>You want to get started – today, now. Lets go.</p> 
			<p class="text-muted">More than anything as a developer you want to get started quickly. We know you want to get started with something Quick and Easy. We know that, we’ve been there too.</p> 
		        <p class="text-muted">QewdJS gets you up & running quickly. </p>   
			   <p class="text-muted">Lets show you just how hard it is;</p>
			 <code>   npm install qewd  </code> 
			   <br/>
			 <code>   node qewd  </code>
			 		  
                     </div>
			
                </div>
            </div>
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/StockSnap_GearCogCloseup.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">QUALITY/ENTERPRISE WEB DEVELOPMENT 
                    </h4>
                    <p>This stuff needs to be fast and furious. Fit for an Enterprise</p>
			   <p class="text-muted">So Quick and Easy is nice, but what about scale? </p>
                           <p class="text-muted">This stuff needs to be built on quality and fit for the Enterprise. </p> 
		           <p class="text-muted">QewdJS is a framework built for Quality Enterprise Web Development.</p>   
		    	   <p class="text-muted">Quality technology fit for the Enterprise – built to be superfast, solid, secure and scalable.
			   		 	QewdJS is the result of 10 years of Web Development- for the Enterprise.
						It just so happens to be called Qewd . JS </p>
		   </div>
			
                </div>
            </div>
		
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
                    <img class="img-square img-responsive" src="img/StockSnap_RainbowBikes.jpg" alt="">
                          
		   </div>
		   <div class="col-lg-4 text-center">
                       
                     <h4 class="service-heading">JAVASCRIPT & JSON BASED</h4>
                    <p>Did somebody say JavaScript? The language of the web</p>
			 <p class="text-muted">When the web began, JavaScript was for the UI hackers. But hold on, isn’t that the tech that now powers the Enterprise?</p>   
		      <p class="text-muted">Yep, QewdJS stuff is built to leverage NodeJS.. and improve it!</p>   
		       <p class="text-muted">
			   Javascript and JSON are taking over the world of development.
			   We love the colourful diversity of the Javascript/JSON world. QewdJS leverages NodeJS & JSON and adds to the JS mix.  
			   </p> 
   			<p class="text-muted">
			  QewdJS: NodeJS based Development & Integration – see what this Swiss-Army knife tech can do..
 			</p> 

                    </div>
			
                </div>
            </div>
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/StockSnap_Open.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">OPEN SOURCE</h4>
                    <p>The 21st Century is open, like it or not. We’re sharing our work with the world.</p>
			   <p class="text-muted">Open Source refers to something that can be modified and shared because its design is publicly and freely accessible.</p>   
			  <p class="text-muted">This technology rocks. So why not give it to the world.. done.</p>   
		  <p class="text-muted">Open Source has 3 key virtues</p>  
			<ul>
			  <li class="text-muted">Unconstrained innovation – ideas and ambitions can be shared by folk who are oceans apart</li>
			  <li class="text-muted">Transparent credibility -allowing immediate detailed scrutiny immediately boosts credibility</li>
			  <li class="text-muted">Decentralized control – amendments and improvement can come from the bottom up</li>
			</ul>
	
			</div>
			
                </div>
            </div>
		
           
        </div>
    </section>
