<section id="community">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Community</h2>
                    <h3 class="section-subheading">Get involved ...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 text-center">
                        <h2 class="section-heading"> Github
                       </h2>
                     </div>
		   <div class="col-lg-8 text-center">
			   <h3 class="section-subheading">Submit Issue, Bug or Pull Request
                       </h3>
			   
                   </div>     
                </div>
               
                    
            </div>
                
              <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 text-center">
                        <h2 class="section-heading">Mailing List
                       </h2>
                     </div>
		   <div class="col-lg-8 text-center">
			   <h3 class="section-subheading">You can ask and questions on our developer mailing list. </h3>
                        
                   </div>     
                </div>
               
                    
            </div> 
        </div>
    </section>
