<section id="Docs">
	 <div id="contact-content">
          
		<div class="col-md-9">
            <p>
              The Documentation and Training material here is the easiest way to find out everything you need to know about the engineering behind QEWD. 
              Consider it an online training course,  a free-to-use set of presentations that explain every aspect of QEWD, step by step, complete with example code that you can try for yourself.
            </p>
            <ul>
              <li><a href="http://www.slideshare.net/robtweed/how-nodejs-integrates-with-the-cache-database" target="slideshare">Part 1: Aligning the power of Node.js & with the power of "Global" (NoSQL+SQL) Databases</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-overview" target="slideshare">Part 2: The background to QEWDjs - a range of modules known as EWD 3</a></li>
              <li><a href="http://www.slideshare.net/robtweed/summary-of-ewd-3-modules" target="slideshare">Part 3: Summary of EWD3 Modules</a></li>
              <li><a href="http://www.slideshare.net/robtweed/installing-configuring-ewdxpress" target="slideshare">Part 4: Installing and Configuring QEWDjs</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-5-first-steps-in-building-an-ewdxpress-application" target="slideshare">Part 5a: Building a QEWD Application - 1st Steps (Using Windows and Cach&eacute;</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-5b-first-steps-in-building-a-qewd-application" target="slideshare">Part 5b: Building a QEWD Application - 1st Steps (Using Linux or Raspberry Pi</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-6-what-happens-when-an-ewdxpress-application-is-started" target="slideshare">Part 6: WHat Happens when a QEWD Application is Started</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-7-applying-the-ewdxpress-messaging-pattern" target="slideshare">Part 7: Applying the QEWD Message Pattern</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-8-anatomy-of-the-ewdxpress-messaging-cycle" target="slideshare">Part 8: Anatomy of the QEWD Message Cycle</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-9-complex-ewdxpress-messages-and-responses" target="slideshare">Part 9: Complex QEWD Messages and Responses</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-10-ewdxpress-sessions-and-user-authentication" target="slideshare">Part 10: QEWD Sessions and User Authentication</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-11-handling-errors-in-ewdxpress" target="slideshare">Part 11: Handling Errors in QEWD</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-12-ewdxpress-session-timeout-control" target="slideshare">Part 12: QEWD Session Timeout Control</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-13-putting-everything-so-far-into-practice-in-ewdxpress" target="slideshare">Part 13: Putting everything So Far into Practice in QEWD</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-14-using-ajax-for-ewdxpress-messages" target="slideshare">Part 14: Using Ajax for QEWD Messages</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-15-using-a-fraework-other-than-jquery-with-ewdxpress" target="slideshare">Part 15: Using a Framework other than jQuery with QEWD</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-16-ewdxpress-services" target="slideshare">Part 16: QEWD Services</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-17-introduction-to-global-storage-databases" target="slideshare">Part 17: Working with Global Storage Databases: Introduction</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-18-modelling-nosql-databases-using-global-storage" target="slideshare">Part 18: Modelling NoSQL Databases using Global Storage</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-19-the-cachenode-apis" target="slideshare">Part 19: Accessing a Global Storage Database from JavaScript: the cache.node APIs</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-20-the-documentnode-object" target="slideshare">Part 20: JavaScript Abstraction of Global Storage - (a) The DocumentNode Object</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-21-persistent-javascript-objects" target="slideshare">Part 21: JavaScript Abstraction of Global Storage - (b) Persistent JavaScript Objects</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-22-traversing-documents-using-documentnode-objects" target="slideshare">Part 22: JavaScript Abstraction of Global Storage - (c) Traversing Documents</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-23-traversing-a-range-using-documentnode-objects" target="slideshare">Part 23: JavaScript Abstraction of Global Storage - (d) Traversing a Range of Nodes</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-24-traversing-a-documents-leaf-nodes" target="slideshare">Part 24: JavaScript Abstraction of Global Storage - (e) Traversing a Document's Leaf Nodes</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-25-document-database-capabilities" target="slideshare">Part 25: JavaScript Abstraction of Global Storage - (f) Document Database Capabilities</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-26-eventdriven-indexing" target="slideshare">Part 26: JavaScript Abstraction of Global Storage - (g) Event-Driven Indexing</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-27-the-ewd-3-session" target="slideshare">Part 27: JavaScript Abstraction of Global Storage - (h) The QEWD Session</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-28-integrating-legacy-mumps-code-with-ewdxpress" target="slideshare">Part 28: Integrating Legacy MUMPS Code with QEWD</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-29-running-ewdxpress-as-a-service-on-windows" target="slideshare">Part 29: Running QEWD as a Service</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-30-modularising-ewdxpress-applications" target="slideshare">Part 30: Modularising QEWD Applications</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-31-ewdxpress-for-web-and-rest-services" target="slideshare">Part 31: Using QEWD for Web and REST Services</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-32-exposing-vistas-rpcs-as-rest-services" target="slideshare">Part 32: Configuring QEWD to use SSL/HTTPS</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-33-accessing-rest-and-web-services-from-an-interactive-ewdxpress-application" target="slideshare">Part 33: Configuring QEWD to use CORS</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd3-course34" target="slideshare">Part 34: QEWD Resilient Mode</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-35-building-a-reactjs-application-with-ewdxpress-part-2" target="slideshare">Part 35: QEWD Session Locking</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-36-building-a-reactjs-application-with-ewdxpress-part-3" target="slideshare">Part 36: Accessing REST and Web Services from a QEWD Application</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-37-building-a-reactjs-application-with-ewdxpress-part-4" target="slideshare">Part 37: Building a React.js-based QEWD Application - Part 1</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-38-building-a-reactjs-application-with-ewdxpress-part-5" target="slideshare">Part 38: Building a React.js-based QEWD Application - Part 2</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-39-building-a-reactjs-application-with-qewd-part-3" target="slideshare">Part 39: Building a React.js-based QEWD Application - Part 3</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-38-building-a-reactjs-application-with-qewd-part-4" target="slideshare">Part 40: Building a React.js-based QEWD Application - Part 4</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-41-building-a-reactjs-application-with-qewd-part-5" target="slideshare">Part 41: Building a React.js-based QEWD Application - Part 5</a></li>
              <li><a href="http://www.slideshare.net/robtweed/ewd-3-training-course-part-42-the-qewd-docker-appliance" target="slideshare">Part 42: The QEWD Docker Appliance</a></li>
            </ul>
          </div>
        
	</div>
 
	
	
	
    
    </section>
