<!-- Services Section -->

<!-- Qewd Icon for later use
<p>Test: <i class="qewd-icon">&#xe803;</i></p>
-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">10 key features of the QEWD framework</h3>
                </div>
            </div>
       
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-js fa-stack-1x fa-inverse">&#xe800;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">NodeJS based framework</h4>
                    <p class="text-muted">
                        This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-json fa-stack-1x fa-inverse">&#xe80d;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">JSON oriented</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-cogs fa-stack-1x fa-inverse">&#xe810;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Integration Framework</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-session fa-stack-1x fa-inverse">&#xe802;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">Integrated Session Cache</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-loop fa-stack-1x fa-inverse">&#xe895;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Integrated Message Queue</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-loop-alt fa-stack-1x fa-inverse">&#xe808;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">REST, Ajax & Web Socket APIs</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-graphql fa-stack-1x fa-inverse">&#xe804;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                   <h4 class="service-heading">GraphQL support</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-rocket fa-stack-1x fa-inverse">&#xe8dd;</i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                   
                    <h4 class="service-heading">Rapid Development</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                     <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-external fa-stack-1x fa-inverse">&#xe801;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Solid, Secure & Scalable</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-open-source fa-stack-1x fa-inverse">&#xe80f;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">
                    This is filler text to cover the range of technical details that we will include here. 
                        This is filler text to cover the range of technical details that we will include here.
                        This is filler text to cover the range of technical details that we will include here.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
        </div>
    </section>
