<!-- Services Section -->

<!-- Qewd Icon for later use
<p>Test: <i class="qewd-icon">&#xe803;</i></p>
-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">10 key features of the QEWD framework</h3>
                </div>
            </div>
       
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-js fa-stack-1x fa-inverse">&#xe800;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">NodeJS based framework</h4>
                    <p class="text-muted">
                        Imagine all the benefits of Node.js: one language and technology for both front-end and back-end development, plus its outstanding performance; 
                        BUT without the concerns of concurrency and heavy CPU processing, 
                        AND with high-level database abstractions: that’s what the QEWD framework is designed to deliver.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-json fa-stack-1x fa-inverse">&#xe80d;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">JSON oriented</h4>
                    <p class="text-muted">
                      The world of software has now begun to leverage JSON to do all sorts of amazing things. 
                        JSON is literally everywhere. We love the beautiful power and simplicity of JSON.
                        QEWD is built to leverage JSON in some many many ways.. take a look inside.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-cogs fa-stack-1x fa-inverse">&#xe810;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Integration Framework</h4>
                    <p class="text-muted">
                        QEWD provides an ideal integration framework for todays web developer. 
                        Leveraging the power of NodeJS and the simplicity of JSON its amazing what QEWD can connect together.
                        The npm ecosystem is one dimension, the diversity of JSON oriented libraries is another. There is so much to be connected..
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-session fa-stack-1x fa-inverse">&#xe802;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">Integrated Session Cache</h4>
                    <p class="text-muted">
                      While QEWD aims to be super simple to get started, its aimed at speed and power.  
                      Leveraging the power of Redis (along with other options) QEWD includes a super fast session cache. 
                      Very useful and increasingly needed in todays complex web applications.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-loop fa-stack-1x fa-inverse">&#xe895;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Integrated Message Queue</h4>
                    <p class="text-muted">
                    QEWD- Queue.. yes there is a connection, a key connection. 
                    QEWD includeds a native super fast message queue.. 
                    Built with a main/worker process queue architecture , its non blocking and highly scalable.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-loop-alt fa-stack-1x fa-inverse">&#xe808;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">REST, Ajax & Web Socket APIs</h4>
                    <p class="text-muted">
                    REST API ready - the JSON nature of QEWD is ready for any API requirement you've got.
                    Ajax APIs - covered. In addition and by way of some work we've done earlier, its handles Web Sockets natively too.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-graphql fa-stack-1x fa-inverse">&#xe804;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                   <h4 class="service-heading">GraphQL support</h4>
                    <p class="text-muted">
                    JSON, Databases, Data Schemas, Queries etc.. if you're in this game you'll have picked up on the power of GraphQL.
                    We like it and we support it.. its a natural fit.                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-rocket fa-stack-1x fa-inverse">&#xe8dd;</i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                   
                    <h4 class="service-heading">Rapid Development</h4>
                    <p class="text-muted">
                    Building on years of development, QEWD has been crafted with ease of use in mind.
                    QEWD - Quick Enterprise Web Development
                     
                    RealWorld web application.. 1 man, 2 days.. 
                    </p>
                </div>
                <div class="col-md-2">
                     <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-external fa-stack-1x fa-inverse">&#xe801;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Solid, Secure & Scalable</h4>
                    <p class="text-muted">
                    JSON Web Tokens (JWT), OAuth2, OpenID Connect - ready. 
                    QEWD: Quality Enterprise Web Development: 
                    Built for the Enterprise - where solid, secure and Scalable matter.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-open-source fa-stack-1x fa-inverse">&#xe80f;</i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">
                    Open Sourced to the world under an Apache 2 license.
                    Get involved.
                    Submit an issue/bug on Github. 
                    Fork Us & Submit a Pull Request.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
        </div>
    </section>
