<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UX Framework</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Modular</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                 </div>
                <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UX Framework2</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design2</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Modular2</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                
                    
                    
             
                   
                    
                <div class="row">
                       <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/SPV1Summary2-495x400.png" class="img-responsive img-centered" alt="">
                           <div>
                           <h4 class="service-heading">Patient Centred</h4>
                            <p class="text-muted">for their care</p>
                           </div>
                       </div>
                     <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/MPV3-495x400.png" class="img-responsive img-centered" alt="">
                           <div>
                          <h4 class="service-heading">Multi Patient Able</h4>
                            <p class="text-muted">for the cohorts</p>
                           </div>
                       </div>
                     <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/ClinIntell2.png" class="img-responsive img-centered" alt="">
                           <div>
                           <h4 class="service-heading">Clinical/Business Intelligence</h4>
                            <p class="text-muted">Its great</p>
                           </div>
                       </div>
                  
                </div>
                    
                  <div class="row">
                       <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/SPV1ClinStatements2.png" class="img-responsive img-centered" alt="">
                           <div>
                             <h4 class="service-heading">Structured & Narrative Data</h4>
                            <p class="text-muted">Its great</p>
                           </div>
                       </div>
                     <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/MobileVitals1.png" class="img-responsive img-centered" alt="">
                           <div>
                            <h4 class="service-heading">Mobile Ready</h4>
                            <p class="text-muted">Its great</p>
                           </div>
                       </div>
                     <div class="col-md-4 col-sm-6">
                   <img class="img-circle img-responsive" src="http://b51.cc4.myftpupload.com/wp-content/uploads/2017/02/SPV1ClinStatements2.png" class="img-responsive img-centered" alt="">
                           <div>
                             <h4 class="service-heading">Clinical/Business Intelligence</h4>
                            <p class="text-muted">Its great</p>
                           </div>
                       </div>
                  
                </div>   
                    
                
            </div>
        </div>
    </section>
